<?xml version='1.0' encoding='UTF-8'?>

<!-- $Id: log4j2.xml 3050 2016-06-04 19:56:35Z SFB $ -->

<Configuration strict='true' name='RVPF_Script'
        packages="org.rvpf.base.logger.log4j">

    <Appenders>

        <Appender type='Console' name='Console'>
            <Filter type='ThresholdFilter' level='INFO'/>
            <Layout type='PatternLayout'>
                <Pattern>%d %-5p [%X{ID}:%c{1}] %m%n</Pattern>
            </Layout>
        </Appender>

        <Appender type='DetailFile' name='Detail'
                directory='log' maxFileSize='1MB'
                maxBackups='2'>
            <Layout type='PatternLayout'>
                <Pattern>%d %-5p [%X{ID}:%c] %m%n</Pattern>
            </Layout>
        </Appender>

    </Appenders>

    <Loggers>

        <Logger name='org.rvpf' level='DEBUG'/>

        <Logger name='org.rvpf.base.util.Version' level='DEBUG'/>

        <Root level='INFO'>
            <AppenderRef ref='Console'/>
            <AppenderRef ref='Detail'/>
        </Root>

    </Loggers>

</Configuration>

<!-- End. -->
